PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "profile_picture" varchar, "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "firebase_uid" varchar);
INSERT INTO users VALUES(1,'frn','francisanino126@gmail.com',NULL,'$2y$12$ywI07H.sXEbwDqafBE8oNeFw2UsOO0vGw90RM0ptreP0guUXNlMBq','profile_pictures/AML4hlEOiCcj9XiBzn5wFflX43HSA5WSBEuniuAO.png','ueXFFPe4SIfn6gzhqfJUYsMaAhQubYzwLaVSpo4bficK1eTrpkTcnDVutkqB','2025-01-09 14:08:21','2025-01-30 09:02:43',NULL);
INSERT INTO users VALUES(8,'francis','francisanino135@gmail.com',NULL,'$2y$12$HVU1KO9ol/bDQGS9idVHieUSNpCWzf3PdDUPTPRw6MoEwe7a1EGcu','http://127.0.0.1:8000/storage/profile_pictures/OLQ91nktCywRT1pZL1PLtzAgejGlDgcm6kPGS6Sm.png',NULL,'2025-02-12 08:52:57','2025-02-12 08:52:57','lxfXO3utF3TR8IZQQ0OHkWGCUDo1');
INSERT INTO users VALUES(9,'francis','francisanino124@gmail.com',NULL,'$2y$12$YQ5/hQWq5vgg96fo.0A4WuxpO6ugSAG12/9xo1QytNmwPMNUJq7VK','http://127.0.0.1:8000/storage/profile_pictures/NxNg1iRbCIDBbgggnBgooNu9EnqdiRI4gDYL2HhE.png',NULL,'2025-02-14 12:36:51','2025-02-14 12:36:51','s7iHlKtWpheLhicZFVzgxWnHl0x2');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('PCUgMiTHuXcP8bYyrev77I7hfnj4aGQum3BNWZfz',9,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoiNlVEdEtOUUxYbWlLTURFMFFWQUEySWRNYTFBNHZPYmtSdGNqR3dlSiI7czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6Mjc6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMC9wb3N0cyI7fXM6NjoiX2ZsYXNoIjthOjI6e3M6Mzoib2xkIjthOjA6e31zOjM6Im5ldyI7YTowOnt9fXM6NTA6ImxvZ2luX3dlYl81OWJhMzZhZGRjMmIyZjk0MDE1ODBmMDE0YzdmNThlYTRlMzA5ODlkIjtpOjk7fQ==',1742620257);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "posts" ("id" integer primary key autoincrement not null, "user_id" integer not null, "title" varchar not null, "media" text, "body" text not null, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO posts VALUES(1,1,'ccccc','["uploads\/W2UfVz5vgABF8HME8e4sphN9c5pM6oLZf6Pa1zrL.png"]','werwerw','2025-01-09 14:10:33','2025-02-04 15:22:03');
INSERT INTO posts VALUES(3,1,'asdas','["uploads\/vXJ6mgyb0uB7dWyKdKIT48fahb1vPLygFrxT4KIO.png"]','sadasda','2025-01-20 10:36:37','2025-01-22 12:32:02');
INSERT INTO posts VALUES(4,1,'dasdas','["uploads\/CPN1Hgc3wSUHfgSbc1WHy4g3BsITgyyEHQG1U10L.png"]','sadasdasda','2025-01-20 11:48:12','2025-01-20 11:48:12');
CREATE TABLE IF NOT EXISTS "comments" ("id" integer primary key autoincrement not null, "post_id" integer not null, "user_id" integer not null, "comment" text not null, "media" text, "created_at" datetime, "updated_at" datetime, foreign key("post_id") references "posts"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO comments VALUES(7,1,1,'sadsadasdsadas','[]','2025-01-19 11:24:28','2025-01-19 11:24:28');
INSERT INTO comments VALUES(8,1,1,'tabangggggggggggggggg','[]','2025-01-19 11:25:19','2025-01-23 09:48:31');
INSERT INTO comments VALUES(12,20,9,'tabanggggg','[]','2025-02-14 13:34:53','2025-02-14 13:35:21');
INSERT INTO sqlite_sequence VALUES('migrations',6);
INSERT INTO sqlite_sequence VALUES('users',9);
INSERT INTO sqlite_sequence VALUES('posts',21);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "users_firebase_uid_unique" on "users" ("firebase_uid");
COMMIT;
